{% extends 'website/base.html' %}

{% block title %}
Set Appointment
{% endblock %}

{% block content %}
{% load static %} 

<!-- ***** Breadcrumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({%  static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Appointment</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Set Appointment</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->
  <center>
    <h1>Review Your Information: </h1>
    <div><strong>Your Name: </strong>{{ your_name }}</div>
    <div><strong>Your Phone Number: </strong>{{ your_phone }}</div>
    <div><strong>Your Email: </strong>{{ your_email }}</div>
    <div><strong>Your Address: </strong>{{ your_address }}</div>
    <div><strong>Your Time Schedule: </strong>{{ your_schedule }}</div>
    <div><strong>Date: </strong>{{ your_date }}</div>
    <div><strong>Your Message: </strong>{{ your_message }}</div>
    <br><br>
    <div class="">
     <strong>Note: </strong> This appointment hasn't been set yet.
     We will contact you shortly via telephone to confirm your appointment.
    </div>
</center><br><br>
{% endblock %}